h1	{
	font-family:Rockwell;
	font-size:35px;
	text-align:center;
}

h2	{
	font-family:Helvetica;
	font-size:24px;
	text-align:center;
}

#banner	{
	text-align:center;
	margin-left:calc(50vw - 225px);
	padding-top:20px;
}